# LegoGears with DCNv4 deformable attention blocks.
# Based on the existing LegoGears two-head detector layout.
# The YOLO heads, anchors, classes, and route indexes are kept aligned with
# cfg/LegoGears_tucker.cfg.  The Tucker blocks are replaced by DCNv4 blocks
# that preserve the channel count at the same feature-map locations.

[net]
batch=16
subdivisions=1
width=224
height=160
channels=3
momentum=0.92
decay=0.0005
angle=0
saturation=1.500000
exposure=1.500000
hue=0.100000
adam=0

learning_rate=0.002610
burn_in=1000

max_batches=3000
policy=steps
steps=2200,2600
scales=0.2,0.1
loss_scale=1.0
random_init_weights=0

cutmix=0
flip=0
max_chart_loss=4.000000
mixup=0
mosaic=0
use_cuda_graph=0
cudnn_bf16=0
cudnn_fp8=0

[convolutional]
batch_normalize=1
filters=16
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[route]
layers = -1,-2

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -1,-2

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -6,-1

# DCNv4 high-resolution deformable block: 28x20, 128 channels.
[dcnv4]
batch_normalize=1
filters=128
groups=2
size=3
stride=1
pad=1
activation=linear
offset_scale=1.0
remove_center=1
d_stride=4
block_thread=256
softmax=1

# DCNv4 stacked high-resolution block: 28x20, 128 channels.
[dcnv4]
batch_normalize=1
filters=128
groups=2
size=3
stride=1
pad=1
activation=linear
offset_scale=1.0
remove_center=1
d_stride=4
block_thread=256
softmax=1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[route]
layers = -1,-2

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -6,-1

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

# DCNv4 deep deformable block: 14x10, 256 channels.
[dcnv4]
batch_normalize=1
filters=256
groups=2
size=3
stride=1
pad=1
activation=linear
offset_scale=1.0
remove_center=1
d_stride=2
block_thread=256
softmax=1

# DCNv4 stacked deep block: 14x10, 256 channels.
[dcnv4]
batch_normalize=1
filters=256
groups=2
size=3
stride=1
pad=1
activation=linear
offset_scale=1.0
remove_center=1
d_stride=2
block_thread=256
softmax=1

# stride-2 conv: 14x10 -> 7x5
[convolutional]
batch_normalize=1
filters=256
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

##################################

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=30
activation=linear

[yolo]
mask = 3,4,5
anchors=10, 10, 16, 14, 32, 23, 21, 98, 51, 50, 80, 78
classes=5
num=6
jitter=.3
scale_x_y = 1.05
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
ignore_thresh = .7
truth_thresh = 1
random=0
resize=1.5
nms_kind=greedynms
beta_nms=0.6

[route]
layers = -4

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 24

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=30
activation=linear

[yolo]
mask = 0,1,2
anchors=10, 10, 16, 14, 32, 23, 21, 98, 51, 50, 80, 78
classes=5
num=6
jitter=.3
scale_x_y = 1.05
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
ignore_thresh = .7
truth_thresh = 1
random=0
resize=1.5
nms_kind=greedynms
beta_nms=0.6
