[net]
# Lego Gears demo dataset has 5 classes.  This cfg is intentionally small so the
# new [wmhf] layer can be smoke-tested quickly before larger ablations.
batch=16
subdivisions=1
width=224
height=160
channels=3
momentum=0.949
decay=0.0005
angle=0
saturation=1.5
exposure=1.5
hue=.1
learning_rate=0.00261
burn_in=1000
max_batches=3000
policy=steps
steps=11500,2400
scales=.1,.1
mosaic=0
letter_box=0

[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

[wmhf]
filters=64
identity_ratio=0.25
local_ratio=0.375
freq_scale=0.25
shortcut=0
batch_normalize=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[wmhf]
filters=128
identity_ratio=0.25
local_ratio=0.375
freq_scale=0.25
shortcut=1
batch_normalize=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[wmhf]
filters=256
identity_ratio=0.25
local_ratio=0.375
freq_scale=0.20
shortcut=1
batch_normalize=1
activation=leaky

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[wmhf]
filters=512
identity_ratio=0.25
local_ratio=0.375
freq_scale=0.15
shortcut=1
batch_normalize=1
activation=leaky

# Large-object head, stride 32
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=30
size=1
stride=1
pad=1
activation=linear

[yolo]
mask = 3,4,5
anchors = 10,14, 23,27, 37,58, 81,82, 135,169, 344,319
classes=5
num=6
jitter=.3
ignore_thresh=.7
truth_thresh=1
random=0
iou_loss=ciou
iou_normalizer=0.07
cls_normalizer=1.0
obj_normalizer=1.0
nms_kind=greedynms
beta_nms=0.6

# Small/medium-object head, stride 16
[route]
layers=-4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers=-1,10

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
filters=30
size=1
stride=1
pad=1
activation=linear

[yolo]
mask = 0,1,2
anchors = 10,14, 23,27, 37,58, 81,82, 135,169, 344,319
classes=5
num=6
jitter=.3
ignore_thresh=.7
truth_thresh=1
random=0
iou_loss=ciou
iou_normalizer=0.07
cls_normalizer=1.0
obj_normalizer=1.0
nms_kind=greedynms
beta_nms=0.6
